<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - HomeShareMVC</title>

    @Styles.Render("~/Content/css")
     @Styles.Render("~/Assets/bootstrap")
    @Styles.Render("~/Assets/owl-carousel")
    @Styles.Render("~/Assets/slitslider")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Assets/js")
    @Scripts.Render("~/Assets/bootstrap")
    @Scripts.Render("~/Assets/owl-carousel")
    @Scripts.Render("~/Assets/slitslider")

</head>

<body>


    <!-- Header Starts -->
    <div class="navbar-wrapper">

        <div class="navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">


                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/Home/About">A propos de nous</a></li>
                        <li><a href="~/Home/Membres">Les propriétaires</a></li>
                        <li><a href="~/Bien/Biens">Les biens en échange</a></li>
                        <li><a href="~/Home/Contact">Contactez-nous</a></li>
                    </ul>
                </div>
                <!-- #Nav Ends -->

            </div>
        </div>

    </div>
    <!-- #Header Starts -->


    <div class="container">

        <!-- Header Starts -->
        <div class="header">
            <a href="#"><img src="~/Content/images/logo.png" alt="Realestate"></a>

            <ul class="pull-right">
                <li><a href="~/Membre/Home/Index">Echanger un bien</a></li>
                <li><a href="~/Membre/Home/Inscription">S'inscrire</a></li>
                <li><a href="~/Membre/Home/Login">Se connecter</a></li>
            </ul>
        </div>
        <!-- #Header Starts -->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer">

            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h4>Information</h4>


                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Newsletter</h4>

                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Suivez-nous</h4>

                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Contactez-nous</h4>

                </div>
            </div>
            <p class="copyright">Copyright 2015. All rights reserved.	</p>

            </div>
        </div>

    @RenderSection("scripts", required: false)
</body>
</html>
